main {
    border: 1px solid black;
    width: calc(300px + 70vw);
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    padding-top: 140px;
}

#Top{
    display: flex;
    
    width: 100%;
    height: 20px;
}

#Tags, #Create {
    width: 16.67%;
    
}
  
#Search {
    width: 66.66%;

}


.search-container {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 70px; 
}

.search-input {
    width: 100%;
    height: 100%;
    
    padding-left: 60px; /* Increase left padding to accommodate the icon */
    font-size: 20px; /* Larger text */
    border: 1px solid #a8a6a6;
    border-radius: 60px; /* Rounded corners */
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    left: 20px; /* Position icon on the left */
    top: 50%;
    transform: translateY(-40%);
    cursor: pointer;
}

.search-icon i {
    color: #555; /* Icon color */
    font-size: 26px; /* Larger icon */
}

#Tags {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;
}

.menu li {
 
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    text-align: left;   
}

.menu li>i{
    margin-right: 10px;
}
.menu li:nth-child(1),
.menu li:nth-child(2),
.menu li:nth-child(3) {
    padding-left: 30px;
    padding-bottom: 13px;
    padding-top: 10px;
    
}

.menu li:nth-child(1) > i,
.menu li:nth-child(2) > i,
.menu li:nth-child(3) > i {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    font-size: 22px;
    
}


.menu li:nth-child(4),
.menu li:nth-child(5){
    padding-left: 30px;
    padding-bottom: 13px;
    padding-top: 10px;
}
.menu li:nth-child(5) > i{
    margin-right: 30px;

}
.separator {
    border-bottom: 1px solid #ccc;
    margin: 10px;
    width: 100%;
    cursor:none;
}

.dropdown {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px; /* Adjusted font size */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: 1.2px; /* Increased letter spacing */
    color: grey; /* Grey color for text */
}

.communities-text {
    font-size: 18px; /* Adjusted font size */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: 1.2px; /* Increased letter spacing */
    color: grey; /* Grey color for text */
}


.menu li.Active i {
    color: black; /* Black color for active icons */
}



.dropdown:hover {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.dropdown i {
    transition: transform 0.5s; 
}

.dropdown i.rotated {
    transform: rotate(180deg); 
}

.menu li:nth-child(1):hover,
.menu li:nth-child(2):hover,
.menu li:nth-child(3):hover {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}


.menu li.Active.Active {
    border: 1px solid rgb(231, 229, 229);
    border-radius: 15px;
    background-color: rgb(231, 229, 229);
}
