main {
    
    width: calc(300px + 70vw);
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    padding-top: 140px;
    overflow-x: hidden;
}

#nav-break{
    display: none;
    margin-top: 30px;
}

*::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

* {
    -ms-overflow-style: none;  /* Hide scrollbar for IE 10+ */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}
html, body {
    overflow-x: hidden;
}


#navbars{
    display: none;
}
body{
    overflow-x: hidden;
}

#search-bar2{
    display: none;
}

#Top{
    display: flex;
    
    width: 100%;
    height: 70px;
    
}



#Tags {
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

#Create{
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}
  
#Search {
    width: 90%;
    flex-grow: 1;
    flex-shrink: 1;
}


.search-container {
    position: relative;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    height: 70px; 
}

.search-input {
    width: 100%;
    height: 100%;
    
    padding-left: 60px; /* Increase left padding to accommodate the icon */
    font-size: 20px; /* Larger text */
    border: 1px solid #a8a6a6;
    border-radius: 60px; /* Rounded corners */
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    left: 20px; /* Position icon on the left */
    top: 50%;
    transform: translateY(-40%);
    cursor: pointer;
}

.search-icon i {
    color: #555; /* Icon color */
    font-size: 26px; /* Larger icon */
}

#Tags {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;
}

.menu li {
 
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    text-align: left;   
}

.menu li>i{
    margin-right: 10px;
}
.menu li:nth-child(1),
.menu li:nth-child(2),
.menu li:nth-child(3) {
    padding-left: 30px;
    padding-bottom: 13px;
    padding-top: 10px;
    
}

.menu li:nth-child(1) > i,
.menu li:nth-child(2) > i,
.menu li:nth-child(3) > i {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    font-size: 22px;
    
}


.menu li:nth-child(4),
.menu li:nth-child(5){
    padding-left: 30px;
    padding-bottom: 13px;
    padding-top: 10px;
}
.menu li:nth-child(5) > i{
    margin-right: 30px;

}
.separator {
    border-bottom: 1px solid #ccc;
    margin: 10px;
    width: 100%;
    cursor:none;
}

.dropdown {
    position: relative;
    width: 100%;
    display: flex;
    gap: 40px;
    font-size: 14px; /* Adjusted font size */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: 1.2px; /* Increased letter spacing */
    color: grey; /* Grey color for text */
}

.communities-text {
    font-size: 18px; /* Adjusted font size */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: 1.2px; /* Increased letter spacing */
    color: grey; /* Grey color for text */
}


.menu li.Active i {
    color: black; /* Black color for active icons */
}



.dropdown:hover {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.dropdown i {
    transition: transform 0.5s; 
}

.dropdown i.rotated {
    transform: rotate(180deg); 
}

.menu li:nth-child(1):hover,
.menu li:nth-child(2):hover,
.menu li:nth-child(3):hover {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}


.menu li.Active.Active {
    border: 1px solid rgb(231, 229, 229);
    border-radius: 15px;
    background-color: rgb(231, 229, 229);
}

#Create {
    /* Align the button container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#createButton {
    height: 100%;
    width: 100%;
    
    /* Styling the button */
    background: linear-gradient(to right, #24C6DC, #514A9D); /* Gradient color */
    border: none; /* Remove default border */
    color: white; /* Text color */
    margin-right: 40px;
    
    border-radius: 15px; /* Rounded corners */
    font-size: 20px; /* Font size */
    font-weight: bold; /* Font weight */
    cursor: pointer; /* Cursor changes to pointer */
    transition: transform 0.2s, background-color 0.2s; /* Transition for hover effect */
}

#createButton:hover {
    /* Hover effect */
    transform: scale(1.05); /* Slightly enlarges */
    background: linear-gradient(to right, #57CC99, #3498DB); /* Brightens the color */
}

#Content {
    width: calc(97% - 330px); 
    height: calc(100vh - 250px);
    margin-top: 40px;
    margin-left: 330px;
    padding-bottom: 100px;
}
#Content{


    overflow-y: auto;
}
#Content::-webkit-scrollbar {
    display: none;
}

/* For other browsers: */
#Content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.thread {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 100px; /* Minimum height */
    max-height: 2000px; /* Maximum height */
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 15px;
    padding-left: 20px; /* Additional padding for content */
}

.Main-Image{
    width: 100%; /* Full width of the container */
    min-height: 100px; /* Minimum height */
    max-height: 700px; /* Maximum height */
    object-fit: cover; /* Cover the area without distortion */
    object-position: center;
    margin-bottom: 20px;
}

.Content-Header{
    width: fit-content;
    height: 50px;
    display: flex;
    gap: 6px;
    align-items: center;

}

.Head > h2{
    font-size: 23px;
    word-spacing: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word;
}

.Comments{
    padding: 5px;
    padding-left: 15px;
    border-radius: 10px;

    width: 90px;
    background-color: rgb(184, 184, 184);
}

.Comments > span{
    margin-left: 2px;
}

.para{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 90%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.Content-Tag{
    width: fit-content;
    height: f;  
    padding: 3px 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: #24C6DC;
  
}

.dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: black;
}

.Content-Profile-Picture{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.choice{
    font-family: 'IBM Plex Sans', Arial, sans-serif; 
    
    padding-left: 30px;
    font-size: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    cursor: pointer;
    padding-top: 20px;
    
}

#holder{
    position: relative;
}

#tag{
    display: none;
    flex-direction: column;
    gap: 10px;

    
    position: absolute;
    top: 100%; /* Position below the Community div */
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 1s smooth;
}

#tag.show{
    display: flex;
}

.add{
    background-color: #24C6DC;
}

.choice:hover{
    background-color: #f1f1f1;
}
@media (max-width: 1200px) {

    #Top{
        display: none;
    }
    
    

    #navbars, #Left, #Right{
    display: flex;
    }
    #Left, #Right{
        gap: 20px;
        width: fit-content;
        height: 50px;
        align-items: center;
    }
    #navbars{
        justify-content: space-between;
        padding: 20px;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    
    


#navigation-header{
    display: none !important; 
}

#navbars{
    position: relative;
    width: 96%;
    height: 20px;
}
.search-icons {
    position: relative;
    cursor: pointer;
    line-height: 30px;
}

.search-icons i {
    color: #555; 
    font-size: 25px; 
    vertical-align: bottom;
}
#nav-break{
    display: block;
}

.dropdowns {
    
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    align-items: center;
    font-size: 14px; 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: 1.2px; 
    color: black;
    
    box-sizing: border-box;
    padding: 7px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: grey;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    gap: 10px;

    width: 120vw;
    position: absolute;
    top:80px; /* Position below the Community div */
    left: -20px;
   
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 1s smooth;
}

.dropdowns .dropdown-content.show {
    display: block;
    transform: translateY(0); /* Slide down */
}

.tag {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.tag:last-child {
    border-bottom: none;
}
.slideout-menu {
    position: fixed;
    top: 0;
    left: calc(-250px - 10%);
    width: calc(250px + 10%);
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    transition: left 0.3s;
    padding-top: 20px; /* Added padding at the top */
    z-index: 1000;
    overflow-y: scroll;
}

.slideout-menu.open {
    left: 0;
}

.no-scroll {
    overflow: hidden;
}


.slideout-logo {
    display: block; /* Ensure the image is a block element */
    width: 80%; /* Adjust the width as needed */
    
    padding: 10px; /* Add padding around the logo */
    margin-bottom: 20px; /* Spacing below the logo */
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it's above other content but below the menu */
}

.overlay.active {
    display: block; /* Show the overlay */
}


.slideout-item {
    padding: 15px; /* Increased padding */
    border-bottom: 1px solid #ddd;
    font-size: 18px; /* Larger font size */
}

.slideout-item i {
    margin-right: 10px; /* Spacing between icon and text */
}

.slideout-button {
    display: block;
    width: 93%;
    padding: 15px; /* Increased padding */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 18px; /* Larger font size */
    margin-top: 20px; /* Spacing before the button */
    background-color: lightblue; /* Example background color */
    color: rgb(83, 83, 83); /* Text color */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
}

.slideout-button i {
    margin-right: 10px; /* Spacing between icon and text */
}


.tag .icon {
    margin-right: 10px;
    /* Style for the icon */
}
#dropdowns-text{

    font-size: 17px;
}
.dropdowns i {
    transition: transform 0.5s;
    transform-origin: center;
}


.dropdowns i.rotated {
    transform: rotate(180deg); 
}

.fa-bars{
    font-size: 25px;
}

.user-image > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

#search-bar2 {
    width: 96%;
    height: 60px;
    padding: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.search-field-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1; 
    margin-right: 20px; 
}

#search-input {
    flex-grow: 1;
    padding-left: 35px; 
    padding-right: 35px; 
    height: 40px; 
    border-radius: 5px; 
    
}

.search-icons2, .clear-icon {
    position: absolute;
    cursor: pointer;
}

.search-icons2 {
    left: 10px; 
}

.clear-icon {
    right: 10px; 
}

.cancel-text {
    cursor: pointer;
   
}



#Content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

main{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0;
    width: 100%;
    
}

.Main-Image{
    object-fit:fill;
    min-height: 200px;
    max-height: 1000px; 
    
}

}

@media (max-width: 490px) {

    .thread{
        min-height: 50px;
        height: auto;
        max-height: 600px;
    }
    .Main-Image{
        height: auto;
        max-height: 1000px;
    }
}
