#gameCanvas{
    border: 1px solid black;
    
    

}

body{
    background-color: blanchedalmond;
}
main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered {
    text-align: center;
}
#Mobile{
    display: none;
}

#playButton {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 200px;
}

#pauseMenu{
    font-size: 20px;
    text-align: center;
}

#pauseMenu > button{
    width: 200px;
    height: 50px;
}

@media (max-width: 1200px) {
    #gameCanvas {
      display: none !important;
    }
    #pauseMenu{
        display: none !important;
    }
    #homepage{
        display: none !important;
    }
    #Mobile{
        display: block;
    }
  }