@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans", "Rubik", Arial, Helvetica, sans-serif;
}

body{
  overflow-x: hidden;
}

#sign{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
}
#Cancel{
  font-size: 30px;
  padding: 0;
  cursor: pointer;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container > img {
  height: 100vh;
  width: 40vw;
  object-fit: cover;
}

.forms {
  margin: auto;
}

.forms > p {
  margin-top: 15px;
  margin-bottom: 30px;
}

.username > input,
.password > input,
.email > input,
.phone > input, 
.profile-image > input {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.username,
.password,
.email,
.phone {
  display: flex;
  margin-bottom: 30px;
}
.profile-image{
  margin-bottom: 30px;
}
.username,
.password,
.email,
.phone, 
.profile-image {
  position: relative;
  width: 500px;
}

.username::before,
.password::before,
.email::before,
.phone::before, 
.profile-image::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000; 
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.transfer {
  margin-left: 10px;
  color: green;
  cursor: pointer;
}

.Additional {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Additional > label {
  font-size: 13px;
}

.Additional > p {
  margin-left: 250px;
  font-weight: bold;
}

.remember {
  width: 20px;
  height: 20px;
}

.btn {
  margin-top: 15px;
  height: 50px;
  border-radius: 10px; 
  background-color: black;
  color: white;
  width: 100%;
}

.profile-image > label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-image > input[type="file"] {
  border: none;
  outline: none;
  margin-left: 10px;
}

#profile-image-upload{
  margin-left: 0;
}

.username > input:focus::placeholder,
.password > input:focus::placeholder,
.email > input:focus::placeholder,
.phone > input:focus::placeholder,
.profile-image > input:focus::placeholder {
  color: transparent; 
}

/* Media query for viewport width 980px or less */
@media (max-width: 980px) {
  .container {
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    gap: 100px; /* Center-align children */
  }

  .container > img {
    width: 100vw; /* Adjust width as needed */
    height: 300px;
    object-fit: cover;
  }

  .forms{
    margin-bottom: 90px;
  }
  
}

@media (max-width: 450px) {
  
  .forms,
  .username,
  .password,
  .email,
  .phone,
  .profile-image {
    width: 65vw; /* Adjust width to match the new layout */
  }

  .Additional > p {
    margin-left: calc(10vw - 4px);
    font-size: 13px;
  }
  
}

@media (max-width: 410px) {
  
  .forms,
  .username,
  .password,
  .email,
  .phone,
  .profile-image {
    width: 70vw; /* Adjust width to match the new layout */
  }

  .Additional > p {
    margin-left: calc(10vw );
    font-size: 13px;
  }
  
}



/* Media query for viewport width 980px or less */
@media (max-width: 375px) {
  
  .forms,
  .username,
  .password,
  .email,
  .phone,
  .profile-image {
    width: 70vw; /* Adjust width to match the new layout */
  }

  .Additional > p {
    margin-left: calc(10vw - 10px);
    font-size: 13px;
  }
  
}



/* Media query for viewport width 980px or less */
@media (max-width: 360px) {
  
  .forms,
  .username,
  .password,
  .email,
  .phone,
  .profile-image {
    width: 70vw; /* Adjust width to match the new layout */
  }

  .Additional > p {
    margin-left: calc(10vw - 20px);
    font-size: 13px;
  }
  
}


