@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Rubik&display=swap');

body{
    width: 100vw;
    overflow-x: hidden;
}

#navigation-header{
    padding: 20px 0px;
    position: relative;
    z-index: 2;
    width: 100vw;
    /* backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.2); */
    overflow-y: hidden;
}
.user-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

#navigation-header i{
    font-size: 25px;
}
.active-nav{
    background-color: lightgray;
}

.slideout-item{
    cursor: pointer;
    transition: 1s;
}

.slideout-item:hover{
    background-color: lightgray;
}


.flex-no-wrap{
    flex-wrap: nowrap !important;
}

.menu-toggle-button{
    display:none;
}

.hamburger-menu{
    display: none;
    position:absolute;
    right: 2em;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.hamburger-menu:hover{
    cursor: pointer;
}

.hamburger-menu.open{
    height: fit-content;
    display: block;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hamburger-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.hamburger-menu li a:link {
    color: black;
    font-family: "Roboto", "Open Sans", "Rubik", Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.hamburger-menu li a:visited {
    color: black;
    text-decoration: none;
}

.hamburger-menu li a:hover {
    cursor: pointer;
    color: rgb(100, 100, 100);
}

.logo{
    margin-left: 80px;
    width: 180px;
    max-width: 100%;
}

.logo img{
    max-width: 100%;
}

#nav-text li{
    display: inline;
}

#nav-text{
    font-size: 18px;
    font-family: "Roboto", "Open Sans", "Rubik", Arial, Helvetica, sans-serif;
    z-index: 1;
}

.nav-link {
    color: black;
    font-family: "Roboto", "Open Sans", "Rubik", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.nav-link:link {
    color: black; 
    font-family: "Roboto", "Open Sans", "Rubik", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.nav-link:visited {
    color: black !important;
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(100, 100, 100) !important;
}

.icon-nav{
    display: flex;
    margin-right: 80px;
    gap: 15px;
    font-size: 22px;
    width: 180px;
    max-width: 100%;
}

#profileImage{
    margin-top: 4px;
    width: 22px;         
    height: 22px;        
    border-radius: 50%;  
    object-fit: cover; 
}

#search:hover, #Pfp:hover, #cart:hover{
    cursor:pointer;
}

.no-scroll {
    overflow: hidden !important;
}

@media (200px <= width <= 1020px){      
    .menu-toggle-button{
        display:block;
    }
    
    .logo{
        margin-left: 20px;
    }

    .icon-nav{
        margin-right: 20px;
    }

    #nav-text{
        display: none;
    }
}

@media (max-width: 576px){
    .hamburger-menu{
        left: 2rem;
        width: unset;
    }
}



/* Navigation Bar Settings */
#navbars{
    display: none;
}

#navigation-header{
    display: block;
}

/* Ends here */



/* Navigation For Mobile */

@media (max-width: 1200px) {
    #navigation-header{
        display: none;
    }

    #mobile-navbar-container{
        position: relative;
        z-index: 1;
        width: 100vw;
    }
    
    .user-image > img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }


    .fa-bars{
        font-size: 25px;
        color: #555; 
    }

    .fa-user{
        font-size: 25px;
        color: #555;
    }

    .fa-cart-shopping{
        color: #555; 
        font-size: 25px;
        vertical-align: bottom;
    }

    body {
        overflow-x: hidden;
    }


    #navigation-header {
        display: none !important; 
    }


    #navbars, #Left, #Right {
        display: flex;
    }

    #navbars {
        justify-content: space-between;
        padding: 20px;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 96%;
        height: fit-content;
    }

        
    #Left, #Right {
        gap: 20px;
        width: fit-content;
        height: 50px;
        align-items: center;
    }

    #mobile-logo img{
        max-width: 230px;
        width: 100%;
        padding-right: 50px;
    }

    .slideout-menu {
        position: fixed;
        top: 0;
        left: calc(-250px - 10%);
        width: calc(250px + 10%);
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0,0,0,0.3);
        transition: left 0.4s ease;
        padding-top: 20px; /* Added padding at the top */
        z-index: 1000;
    }

    .slideout-menu.open {
        left: 0;
    }

    .slideout-menu a{
        color: black;
        text-decoration: none;
    }

    .slideout-menu a:hover{
        background-color: #555;
    }

    .slideout-menu a:active{
        background-color: #555;
    }

    .slideout-menu a:visited{
        background-color: #555;
    }

    .slideout-logo {
        display: block; 
        width: 80%;
        padding: 10px 10px 10px 15px; /* Add padding around the logo */
        margin-bottom: 20px; /* Spacing below the logo */
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 999; /* Ensure it's above other content but below the menu */
    }

    .overlay.active {
        display: block; /* Show the overlay */
    }


    .slideout-item {
        padding: 15px; /* Increased padding */
        border-bottom: 1px solid #ddd;
        font-size: 18px; /* Larger font size */
    }

    .slideout-item i {
        margin-right: 10px; /* Spacing between icon and text */
    }

    .slideout-button {
        display: block;
        width: 93%;
        padding: 15px; /* Increased padding */
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        font-size: 18px; /* Larger font size */
        margin-top: 20px; /* Spacing before the button */
        background-color: lightblue; 
        color: rgb(83, 83, 83); /* Text color */
        border: none; /* No border */
        cursor: pointer; /* Pointer cursor on hover */
    }

    .slideout-button i {
        margin-right: 10px; /* Spacing between icon and text */
    }
}
/* Ends Here */

/*Open Cart*/
#cart-blur-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); 
    z-index: 3;
    transition: backdrop-filter 0.3s ease;
}

#cart-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -500px; /* Initially position it off-screen to the right */
    width: 500px; /* Set the desired width */
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.4s ease;
    z-index: 3;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

#cart-container.open-cart {
    right: 0;
}

#cart-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#cart-title {
    font-size: 2rem;
    font-weight: bold;
    width: fit-content;
    white-space: nowrap;
}

#close-cart, .delete-cart{
    font-size: 1.5em;
    cursor: pointer;
    color: #6C7275 !important;
    transition: color 0.3s ease;
}

#close-cart:hover, .delete-cart:hover{
    color: black !important;
}

#no-items{
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 100%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}

#cart-products{
    overflow-y: scroll;
    height: 100%;
}

#cart-products::-webkit-scrollbar{
    width: 0px;
}

.cart-product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 50px;
    margin-bottom: 30px;
}

.cart-image-container {
    width: 118px;
    height: 118px;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
}

.cart-image-container img {
    width: 110%;
    height: 110%; 
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-details {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.cart-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.cart-product-name, .cart-price{
    font-size: 1.3em;
    font-weight: bold;
}

.cart-product-color{
    color: #6C7275;
}

.cart-add-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid #6C7275;
    color: #6C7275;
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 5px;
}

.cart-add-quantity i{
    cursor: pointer;
}

.cart-quantity-input{
    border: none;
    max-width: 25px;
    width: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #6C7275;
}

.cart-quantity-input:focus-visible{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    width: 25px;
    text-align: center;
    vertical-align: middle;
}

.cart-quantity-input::-webkit-inner-spin-button,
.cart-quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-price-cancel{
    display: flex;
    flex-flow: column wrap;
    align-items: end;
}

@media (max-width: 600px) {
    #cart-container {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -320px; /* Initially position it off-screen to the right */
        width: 320px; /* Set the desired width */
        height: 100vh;
        background-color: white;
        padding: 15px;
    }

    .cart-image-container {
        overflow: hidden;
        position: relative;
        min-width: 90px;
        width: 100px;
        height: 111px;
        margin-right: 0px;
    }
    
    .cart-image-container img {
        width: 80%; /* Change to 100% to fit within the container */
        height: 140%; /* Change to 100% to fit within the container */
        object-fit: cover;
        object-position: center center;
        position: absolute;
        top: 50%;
        left: 0; 
        transform: translateY(-50%);
    }
    
    .cart-product-name, .cart-price{
        font-size: 1.1em;
        font-weight: bold;
    }
    
    .cart-product-color{
        color: #6C7275;
        font-size: 0.9em;
    }

    #no-items{
        font-size: 2.5em;
    }
}
/* OpenCart Ends Here*/

#bill-amount{
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 30px;
}

#checkout-btn{
    background-color: black;
    color: white !important;
    padding: 12px 18px;
    border-radius: 10px;
    display: flex;
    flex: 1;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-size: 1.2em;
    transition: all ease-in-out 0.3s;
    margin: 0px 3px;
    margin-bottom: 20px;
}

#checkout-btn p{
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    width: fit-content;
}

#checkout-btn:hover{
    background-color: white;
    color: black !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#checkout-btn.disabled{
    background-color: rgb(77, 77, 77);
    color: rgba(255, 255, 255, 0.3) !important;
    cursor: not-allowed;
}