@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Rubik&display=swap');

body{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

body *{
  font-family: "Roboto", "Open Sans", "Rubik", Arial, Helvetica, sans-serif
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

::-webkit-scrollbar-corner{
border-radius: 10px;
}

#loader {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: white;
    position: fixed;
    z-index: 16;
    transition: all ease-in-out 0.6s;
}

#main-image-container{
    width: 100vw;
    height: 100vh;
    filter: drop-shadow(0 5px 0.75rem rgb(226, 226, 226));
}

#main-image-container img{
    width: 100%;
    height: 100%;
}

#scroll-down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out, visibility 0.3s ease-in-out;;
}

#shopcat-header{
  color: black;
  font-weight: bold;
  font-size: 3rem;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10vw;
  margin-bottom: 5vw;
}

#shopcat-container{
  display: flex;
  justify-content: center;
  gap: 26px;
  width: 100%;
  height: fit-content;
  width: calc(100% - 100px); /* This will set both left and right margins to 20px */
  margin: 0 auto; /* Center the container horizontally */
}

.big {
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
}

.small{
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
}

.big, .small-item {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.big:hover, .small-item:hover{
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.3s all ease-in-out;
}

.big:hover .shop-now-link{
  color: black;
  transition: 0.3s all ease-in-out;
}

#s1:hover .shop-now-link, #s1:hover #shop-now-arrow1{
  color: black;
  transition: 0.3s all ease-in-out;
}

#s2:hover .shop-now-link, #s2:hover #shop-now-arrow2{
  color: black;
  transition: 0.3s all ease-in-out;
}

.big-item{
  max-width: 548px;
  max-height: 664px;
}

.small-item{  
  max-width: 548px;
  max-height: 319px;
}

.big-item, .small-item{
  background-color: #F3F5F7;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.small{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 26px;
}

.big-overlay{
  position: absolute;
  margin-top: 2%;
  margin-left: 3%;
}

.small-overlay{
  position: absolute;
  margin-top: 10%;
  margin-left: 2%;
}

.item-title{
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0px;
}

.shop-now-link{
  text-decoration: underline;
  font-weight: normal;
  font-size: 1.5em;
  color: rgb(100, 100, 100);
}

.shop-now-arrow{
  text-decoration: underline;
  color: rgb(100, 100, 100);
}

.shop-now-link:hover{
  color: black;
  transition: 0.3s all ease-in-out;
}

.shop-now-link:hover .shop-now-arrow {
  color: black;
  transition: 0.3s all ease-in-out;
}

.small-item-title{
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.small-item img{
  object-fit: fill;
  object-position: center;
  max-width: 100%;
  height: auto;
}

#new-arrivals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  margin-top: 10vw;
  margin-bottom: 3vw;
  width: 78vw;
}

#new-arrivals-header p {
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.new-arrivals-content{
  min-height: auto;
  height: fit-content;
  width: fit-content;
  background: white;
  z-index: 1;
}

#card-flex{
  display: flex;
  gap: 2vw;
  width: 78vw;
  margin: 0 auto;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 4vw;
}

#card-flex::-webkit-scrollbar {
  width: 1px !important;
}

#card-flex::-webkit-scrollbar-thumb {
  background: #343839;
  border-radius: 10px;
  width: 1px;
}

.card-container{
  width: fit-content;
  height: fit-content;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.card{
  width: 18vw;
}

.card:hover{
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.3s all ease-in-out;
}

.card-product{
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1vw;
}

.card-price{
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0;
}

#benefit-container{
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 2vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.benefit-box{
  width: 17.5vw;
  height: 13vw;
  background-color: #F3F5F7;
  padding: 2vw 2vw;
}

.benefit-icon{
  font-size: 3.5vw;
  color: #353636;
  margin-bottom: 1vw;
}

.benefit-title{
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 1.6vw;
}

.benefit-subtitle{
  margin: 0;
  color: #6C7275;
  font-size: 1vw;
}

footer{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: black;
}

footer .nav{
  border: none !important;
  padding-bottom: 0 !important;
}

@media (min-width: 825px) and (max-width: 1020px) {
  #shopcat-header, #new-arrivals-header p {
    font-size: 3rem; /* Adjusted font size for screens between 650px and 1020px */
  }

  #shopcat-container {
    gap: 18px; /* Adjusted gap for screens between 650px and 1020px */
  }

  .small {
    gap: 18px;
  }

  .item-title, .small-item-title{
    font-size: 2rem;
  }

  .shop-now-link{
    font-size: 1rem;
  }

  .card{
    width: 24.5vw;
  }
}

@media (700px <= width <= 825px) {
  #shopcat-header, #new-arrivals-header p {
    font-size: 2.5rem; /* Adjusted font size for screens between 650px and 1020px */
  }

  #shopcat-container {
    gap: 0.8rem; /* Adjusted gap for screens between 650px and 1020px */
  }

  .small {
    gap: 1rem;
  }

  .item-title, .small-item-title{
    font-size: 1.8rem;
  }

  .shop-now-link{
    font-size: 1rem;
  }

  .card{
    width: 24.5vw;
  }
}

@media (600px <= width <= 700px) {
  
  #shopcat-header, #new-arrivals-header p {
    font-size: 2rem; /* Adjusted font size for screens between 650px and 1020px */
  }

  #shopcat-container {
    gap: 0.6rem; /* Adjusted gap for screens between 650px and 1020px */
  }

  .small {
    gap: 0.8rem;
  }

  .item-title, .small-item-title{
    font-size: 1.5rem;
  }

  .shop-now-link{
    font-size: 1rem;
  }

  .card{
    width: 30vw;
  }
}

@media (200px <= width <= 600px) {
  #shopcat-header, #new-arrivals-header p {
    font-size: 2rem; /* Adjusted font size for screens between 650px and 1020px */
  }

  #shopcat-container {
    gap: 1rem; /* Adjusted gap for screens between 650px and 1020px */
    flex-wrap: wrap;
  }

  .small {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .item-title, .small-item-title{
    font-size: 1.5rem;
  }

  .shop-now-link{
    font-size: 1rem;
  }

  .card{
    width: 60vw;
  }
}

@media (200px <= width <= 1020px){
  #main-image-container img{
    content:url("../images/Mobile-Home.jpeg");
    height: 100vh; /* Set the height to cover the full viewport height */
    object-fit: cover;
  }

  #benefit-container{
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    gap: 2.5vw;
  }

  .benefit-box{
    flex: 1; /* Adjust the width and margin total as needed */
    flex-basis: 30vw;
    height: 25vw;
    padding: 4vw 5vw;
  }

  .benefit-icon{
    font-size: 8vw;
    color: #353636;
    margin-bottom: 1vw;
  }
  
  .benefit-title{
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 3.3vw;
  }
  
  .benefit-subtitle{
    margin: 0;
    color: #6C7275;
    font-size: 2vw;
  }
}